SAGE_INTACCT_SENDER_ID=
SAGE_INTACCT_SENDER_PASSWORD=
SAGE_INTACCT_COMPANY_ID=
SAGE_INTACCT_USER_ID=
SAGE_INTACCT_USER_PASSWORD=
SAGE_INTACCT_ENDPOINT_URL=https://api.intacct.com/ia/xml/xmlgw.phtml
SAGE_INTACCT_DEFAULT_EMPLOYEE_ID=EMP-1024

APP_HOST=0.0.0.0
APP_PORT=8080
INTACCT_MOCK_MODE=true
